.test-section {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  padding: 25px 25px;
  border-radius: 10px;
  width: 700px;
}

.test-details-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.test-details-section img {
  display: block;
}

.test-details h3 {
  font-size: 16px;
  color: var(--heading-color);
}
.test-details p {
  font-size: 12px;
  color: var(--secondary-color);
  line-height: 21.6px;
}

.update-btn {
  display: flex;
  width: 120px;
  height: 44px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--btn-background);
  color: #fff;
}

.update-btn:hover {
  cursor: pointer;
}
